{
    "openapi": "3.0.0",
    "info": {
        "title": "Wildfitter",
        "description": "This is the new wildfitter api",
        "contact": {
            "email": "aleksa.gavrilovic@guidefitter.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://aleksa-new-api.wildfitter.com",
            "description": "Wildfitter doc test server"
        }
    ],
    "paths": {
        "/articles": {
            "get": {
                "summary": "Get Articles",
                "operationId": "App\\Controller\\Article\\ArticleController::getArticlesAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/type"
                    },
                    {
                        "$ref": "#/components/parameters/outfitter"
                    },
                    {
                        "$ref": "#/components/parameters/with-unpublished"
                    },
                    {
                        "$ref": "#/components/parameters/is-deleted"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of article objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Article",
                "operationId": "App\\Controller\\Article\\ArticleController::createArticleAction",
                "requestBody": {},
                "responses": {
                    "201": {
                        "description": "Created article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/articles/name={name}": {
            "get": {
                "summary": "Get Single Article",
                "operationId": "App\\Controller\\Article\\ArticleController::getArticleAction",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The article name to fetch",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/articles/{articleId}": {
            "get": {
                "summary": "Get Single Article",
                "operationId": "App\\Controller\\Article\\ArticleController::getArticleAction",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "The article to fetch",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update Article",
                "operationId": "App\\Controller\\Article\\ArticleController::updateArticleAction",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "The article to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {},
                "responses": {
                    "200": {
                        "description": "Updated article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Article not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Soft-delete an article",
                "operationId": "App\\Controller\\Article\\ArticleController::deleteArticleAction",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "The article to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "description": "To hard-delete the article",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Article soft-deleted"
                    }
                }
            }
        },
        "/associatons": {
            "get": {
                "summary": "Get Association",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/jurisdiction"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of associaton objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons/name={name}": {
            "get": {
                "summary": "Get a Single Association - Name",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationAction",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Name of the association to retreive",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associaton object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons/profile={profileId}": {
            "get": {
                "summary": "Get a Single Association - Profile",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationAction",
                "parameters": [
                    {
                        "name": "profileId",
                        "in": "path",
                        "description": "Profile ID of the Association to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associaton object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons/{associationId}": {
            "get": {
                "summary": "Get a Single Association",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associaton object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associations": {
            "post": {
                "summary": "Create a Association",
                "operationId": "App\\Controller\\Association\\AssociationController::createAssociationAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "The Guidefitter profile name of the association",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "association_name": {
                                        "description": "The name of the association",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "description": {
                                        "description": "The association description",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "url": {
                                        "description": "The association website URL",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "email": {
                                        "description": "The association email address",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_outfitter": {
                                        "description": "The default association membership fee for an outfitter",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_guide": {
                                        "description": "The default association membership fee for a guide",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_sportsman": {
                                        "description": "The default association membership fee for a sportsman",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_associate": {
                                        "description": "The default association membership fee for an associate",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "affidavit": {
                                        "description": "The name of the affidavit letter written by Bryan (admins only)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "jurisdiction": {
                                        "description": "The ID of the country/state the association operates in",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "with": {
                                        "description": "The extra fields you want in the returned JSON",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Association created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing data"
                    }
                }
            }
        },
        "/associations/{associationId}": {
            "post": {
                "summary": "Update an Association",
                "operationId": "App\\Controller\\Association\\AssociationController::updateAssociationAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "association_name": {
                                        "description": "The name of the association",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "description": {
                                        "description": "The association description",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "url": {
                                        "description": "The association website URL",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "email": {
                                        "description": "The association email address",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_outfitter": {
                                        "description": "The default association membership fee for an outfitter",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_guide": {
                                        "description": "The default association membership fee for a guide",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_sportsman": {
                                        "description": "The default association membership fee for a sportsman",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_associate": {
                                        "description": "The default association membership fee for an associate",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "affidavit": {
                                        "description": "The name of the affidavit letter written by Bryan (admins only)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "jurisdiction": {
                                        "description": "The ID of the country/state the association operates in",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "city": {
                                        "description": "Association headquarters address city (AddressJson)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "state": {
                                        "description": "Association headquarters address state (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "country": {
                                        "description": "Association headquarters address country (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "street1": {
                                        "description": "Association headquarters address line 1",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "street2": {
                                        "description": "Association headquarters address line 2",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "zip": {
                                        "description": "Association headquarters address ZIP code",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "name": {
                                        "description": "The Association Profile name (that'll be its Guidefitter URL)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "avatar": {
                                        "description": "The ID of the photo to use as profile avatar",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "cover": {
                                        "description": "The ID of the photo to use as profile cover",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "notifications": {
                                        "description": "The list of notifications IDs the association is subscribed to",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "active": {
                                        "description": "Enable/disable the profile (only admins)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "undelete": {
                                        "description": "Un-delete the association (only admins)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Association updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Nothing to update"
                    }
                }
            },
            "delete": {
                "summary": "Delete a Association",
                "operationId": "App\\Controller\\Association\\AssociationController::deleteAssociationAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "description": "To hard-delete the association and all its related entities",
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "association deleted"
                    }
                }
            }
        },
        "/associatons/{associationId}/siblings": {
            "get": {
                "summary": "Get a Single Association",
                "operationId": "App\\Controller\\Association\\AssociationController::getSimilarAssociationsAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array ofAssociaton objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons-memberships": {
            "get": {
                "summary": "Get Association Memberships",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::getAssociationMembershipsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/association"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of membership (1=outfitter, 2=guide, 3=sportsman, 4=associate)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of associaton memberships objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association-membership"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/association-membershio.{_format}": {
            "get": {
                "summary": "Export Association Memberships",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::exportAssociationMembershipsAction",
                "responses": {
                    "200": {
                        "description": "Returns a CSV file"
                    }
                }
            }
        },
        "/associaton-memberships/{membershipId}": {
            "get": {
                "summary": "Get Articles",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::getAssociationMembershipAction",
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "description": "The ID of the AssociationMembership",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associaton Membership object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/association-memberships": {
            "post": {
                "summary": "Create a Association Membership",
                "requestBody": {},
                "responses": {
                    "201": {
                        "description": "Association membership created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association-membership"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/association-memberships/{memberhipId}": {
            "put": {
                "summary": "Create a Association Membership",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::updateAssociationMembershipAction",
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "description": "The ID of the AssociationMembership",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {},
                "responses": {
                    "200": {
                        "description": "Updated association membership object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association-membership"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Nothing to update"
                    }
                }
            }
        },
        "/association-memberships/{membershipId}": {
            "delete": {
                "summary": "Delete an Association Membership",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::deleteAssociationMembershipAction",
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "description": "The ID of the AssociationMembership",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Nothing to update"
                    }
                }
            }
        },
        "/brands": {
            "get": {
                "summary": "Get Brands",
                "description": "You can use `/users` endpoint to retrieve a list of users, you can also use parameters to filter the list. Sort order is ignored when the `q` parameter is set, and instead results are sorted by match relevance.",
                "operationId": "App\\Controller\\Brand\\BrandController::getBrandsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/gop"
                    },
                    {
                        "$ref": "#/components/parameters/gop-channel"
                    },
                    {
                        "$ref": "#/components/parameters/gop-shop"
                    },
                    {
                        "$ref": "#/components/parameters/gop-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/idp"
                    },
                    {
                        "$ref": "#/components/parameters/idp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/idp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/cnp"
                    },
                    {
                        "$ref": "#/components/parameters/cnp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/cnp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/oep"
                    },
                    {
                        "$ref": "#/components/parameters/oep-channel"
                    },
                    {
                        "$ref": "#/components/parameters/oep-shop"
                    },
                    {
                        "$ref": "#/components/parameters/mip"
                    },
                    {
                        "$ref": "#/components/parameters/mip-channel"
                    },
                    {
                        "$ref": "#/components/parameters/mip-shop"
                    },
                    {
                        "$ref": "#/components/parameters/mip-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/frp"
                    },
                    {
                        "$ref": "#/components/parameters/frp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/frp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/frp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/ecp"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/rtp"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/prostaff"
                    },
                    {
                        "$ref": "#/components/parameters/prostaff-shop"
                    },
                    {
                        "$ref": "#/components/parameters/aim"
                    },
                    {
                        "$ref": "#/components/parameters/aim-shop"
                    },
                    {
                        "$ref": "#/components/parameters/categories"
                    },
                    {
                        "$ref": "#/components/parameters/corporate-domain"
                    },
                    {
                        "$ref": "#/components/parameters/has-domain"
                    },
                    {
                        "$ref": "#/components/parameters/has-grid-access"
                    },
                    {
                        "$ref": "#/components/parameters/parent"
                    },
                    {
                        "name": "profile-status",
                        "in": "query",
                        "description": "The status of the profile (online/offline/any) (online by default)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "deleted",
                        "in": "query",
                        "description": "Include soft deleted profiles in the search (yes/no/any) (no by default)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "description": "Filter by country or state. The Geoname ID of the GeoEntities separated by commas, or '0' to filter those without a location.<br> Also those values are possible 'midwest', 'south', 'east', 'west'",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create Brand",
                "operationId": "App\\Controller\\Brand\\BrandController::createBrandAction",
                "requestBody": {
                    "description": "The user object that will be added.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "The Guidefitter Profile name of the brand",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands"
                                    },
                                    "brand_name": {
                                        "description": "The name of the brand",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands"
                                    },
                                    "grid_enabled": {
                                        "description": "Enable/disable the grid capabilities of that brand + show programs in cockpit (only admins)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "https://api.guidefitter.com/brands"
                                    },
                                    "with": {
                                        "description": "The extra fields you want in the returned JSON",
                                        "type": "string",
                                        "format": "password",
                                        "example": "https://api.guidefitter.com/brands"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Brand created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing data"
                    }
                }
            }
        },
        "/brands/name": {
            "get": {
                "summary": "Get Single Brand - Name",
                "operationId": "App\\Controller\\Brand\\BrandController::getBrandAction",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name to search by",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/brands/profileId": {
            "get": {
                "summary": "Get Single Brand - Profile",
                "operationId": "App\\Controller\\Brand\\BrandController::getBrandAction",
                "parameters": [
                    {
                        "name": "profileId",
                        "in": "path",
                        "description": "The profile Id to search by",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/brands/brandId": {
            "get": {
                "summary": "Get Single Brand - Profile",
                "operationId": "App\\Controller\\Brand\\BrandController::getBrandAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The brand Id to search by",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update an brand (must be authenticated)\n> Update the brand entity, the address, and its profile",
                "operationId": "App\\Controller\\Brand\\BrandController::updateBrandAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The brand Id to search by",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The brand object that will be updated.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "brand_name": {
                                        "description": "The name of the brand",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "email": {
                                        "description": "An email address",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "slogan": {
                                        "description": "The brand's slogan",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "join_message": {
                                        "description": "The message displayed on the brand's employees signup page",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "insider_message": {
                                        "description": "The message displayed on the brand's insiders signup page",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "url": {
                                        "description": "Brand website URL (not GOP, general public URL)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "city": {
                                        "description": "Brand's address city (AddressJson)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "state": {
                                        "description": "Brand's address state (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "country": {
                                        "description": "Brand's address country (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "street1": {
                                        "description": "Brand address line 1",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "street2": {
                                        "description": "Brand address line 2",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "zip": {
                                        "description": "Brand address ZIP code",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "corporate_domains": {
                                        "description": "List of email domains for the brand (including @) (admins only)",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "corporate_domains_regex": {
                                        "description": "A regexp to catch all variations of corporate domains (including @) (admins only)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "gear_categories": {
                                        "description": "An array of Gear Category IDs (admins only)",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "parent_brand": {
                                        "description": "The Brand ID of the parent brand (admins only)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "account_manager": {
                                        "description": "The Profile ID of the GF admin that's managing this account (admins only)",
                                        "type": "string",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "anniversary": {
                                        "description": "The ISO date of the brand's Grid anniversary (admins only)",
                                        "type": "string",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "grid_agreement": {
                                        "description": "The file name of the Grid Agreement template already uploaded on guidefitterconfidential S3 bucket (admins only)",
                                        "type": "string",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "prostaff_status": {
                                        "description": "Set status of the Pro Staff Program, 0=locked, 1=closed, 2=opened",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "prostaff_shop_status": {
                                        "description": "Set magento shop status for the Pro Staff, 1=created, 2=opened (admins only)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "prostaff_duration": {
                                        "description": "Set status of the Pro Staff membership default duration, null=everlasting, 1=6m, 2=1y",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "prostaff_agreement": {
                                        "description": "The file name of the Pro Staff Agreement template already uploaded on guidefitterconfidential S3 bucket",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "aim_status": {
                                        "description": "Set status of the AIM Program, 0=locked, 1=closed, 2=opened",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "aim_shop_status": {
                                        "description": "Set magento shop status for AIM, 1=created, 2=opened (admins only)",
                                        "type": "string",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "price_date": {
                                        "description": "The date when pricing was last updated. If NULL it'll default to current date/time",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "inventory_date": {
                                        "description": "The date when inventory was last updated. If NULL it'll default to current date/time.",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "name": {
                                        "description": "The Brand Profile name (that'll be his Guidefitter URL)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "avatar": {
                                        "description": "The ID of the photo to use as profile avatar",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "cover": {
                                        "description": "The ID of the photo to use as profile cover",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "notifications": {
                                        "description": "The list of notifications IDs the brand is subscribed to",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "active": {
                                        "description": "Enable/disable the profile (only admins)",
                                        "type": "boolean",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "grid_enabled": {
                                        "description": "Enable/disable the grid capabilities of that brand + show programs in cockpit (only admins)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "with": {
                                        "description": "The extra fields you want in the returned JSON",
                                        "type": "string",
                                        "format": "password",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "undelete": {
                                        "description": "Un-delete the brand (only admins)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Update successful.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Nothing to update"
                    },
                    "404": {
                        "description": "Brand not found"
                    }
                }
            }
        },
        "/brand/{brandId}": {
            "delete": {
                "summary": "Delete Brand",
                "operationId": "App\\Controller\\Brand\\BrandController::deleteBrandAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "Id of the brand",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "description": "To hard-delete the brand and all its related entities",
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "User deleted."
                    }
                }
            }
        },
        "/brand/{brandId}/subscriptions": {
            "get": {
                "summary": "Get Brands Subscriptions",
                "operationId": "App\\Controller\\Brand\\BrandController::getSubscriptionsAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "Id of the brand",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand's Subscriptions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/brands/{brandId}/pending": {
            "get": {
                "summary": "Brand Pending",
                "operationId": "App\\Controller\\Brand\\BrandController::getPendingCountsAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "Id of the brand",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Brand's Subscriptions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "": {
                                            "description": "Get the number of pending subscriptions and sales across all programs"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/brand/{brandId}/grid-agreement": {
            "get": {
                "summary": "Brand Subscriptions",
                "operationId": "App\\Controller\\Brand\\BrandController::getGridAgreementAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "Id of the brand",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "304": {
                        "description": "Returns a redirection to the file located on S3 bucket"
                    }
                }
            }
        },
        "/brands/{brandId}/statistics": {
            "get": {
                "summary": "Brand Statistics",
                "operationId": "App\\Controller\\Brand\\BrandController::getStatisticsAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "Id of the brand",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "year",
                        "in": "path",
                        "description": "Year to fetch stats for. If ommited it'll use current year",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "": {
                                            "description": "Get all the brand programs statistics.<br>\n3 objects in the response:<br>\n- \"today\" contains the latest stats<br>\n- \"monthly\" contains the monthly stats for the last 12 months<br>\n- \"daily\" contains the daily stats for the last 6 months<br>\n<br><br>\nMapping for keys:<br>\n- m  > members<br>\n- mn > members_new<br>\n- v  > visits<br>\n- s  > shopping<br>\n- r  > revenue<br>\n- g  > gross<br>\n- c  > comsn<br>\n- o  > nborders<br>",
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/discount-codes": {
            "get": {
                "summary": "Get Discount Codes",
                "operationId": "App\\Controller\\Brand\\DiscountCodeController::getDiscountCodesAction",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "query",
                        "description": "The brand ID (required for managers)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "To filter the codes that the user can use (the ones assigned to him and the ones not assigned to anyone)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/for-user"
                    },
                    {
                        "$ref": "#/components/parameters/is-assigned"
                    },
                    {
                        "$ref": "#/components/parameters/is-expired"
                    },
                    {
                        "name": "gop",
                        "in": "query",
                        "description": "The GOP ID for which the code is valid (required for Pros)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idp",
                        "in": "query",
                        "description": "The IDP ID for which the code is valid (required for Brand Employees)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cnp",
                        "in": "query",
                        "description": "The CNP ID for which the code is valid (required for NGO Employees)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "oep",
                        "in": "query",
                        "description": "The OEP ID for which the code is valid (required for Government Employees)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "mip",
                        "in": "query",
                        "description": "The MIP ID for which the code is valid (required for Military)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "frp",
                        "in": "query",
                        "description": "The FRP ID for which the code is valid (required for First Responders)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "ecp",
                        "in": "query",
                        "description": "The ECP ID for which the code is valid (required for Educators)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "rtp",
                        "in": "query",
                        "description": "The RTP ID for which the code is valid (required for Retail Employees)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "dealer2",
                        "in": "query",
                        "description": "Vendor ID. Filter discount codes that have been checked or used at that dealer",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/cockpit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "array of discount-code objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/discount-code"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create a Discount Code",
                "operationId": "App\\Controller\\Brand\\DiscountCodeController::createDiscountCodeAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "owner": {
                                        "description": "The profile ID of the brand this code belongs to (required if not admin)",
                                        "type": "integer"
                                    },
                                    "code": {
                                        "description": "The discount code itself (will be trimmed) (max 100 chars)",
                                        "type": "string"
                                    },
                                    "source": {
                                        "description": "Who emmited the code (guidefitter/polaris/...Etc) (max 100 chars)",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "A small description of what the code gives (max 150 chars)",
                                        "type": "string"
                                    },
                                    "expiration_date": {
                                        "description": "The date when the code will automatically expire",
                                        "type": "string"
                                    },
                                    "use_date": {
                                        "description": "The date when the code was used",
                                        "type": "string"
                                    },
                                    "brand": {
                                        "description": "The ID of the brand this code applies to",
                                        "type": "integer"
                                    },
                                    "gop": {
                                        "description": "The ID of the GOP this code applies to. Means members of brand's GOP can then use that code.",
                                        "type": "integer"
                                    },
                                    "idp": {
                                        "description": "The ID of the IDP this code applies to. Means members of brand's IDP can then use that code.",
                                        "type": "integer"
                                    },
                                    "frp": {
                                        "description": "The ID of the FRP this code applies to. Means members of brand's FRP can then use that code.",
                                        "type": "integer"
                                    },
                                    "oep": {
                                        "description": "The ID of the EOP this code applies to. Means members of brand's EOP can then use that code.",
                                        "type": "integer"
                                    },
                                    "cnp": {
                                        "description": "The ID of the CNP this code applies to. Means members of brand's CNP can then use that code.",
                                        "type": "integer"
                                    },
                                    "ecp": {
                                        "description": "The ID of the ECP this code applies to. Means members of brand's ECP can then use that code.",
                                        "type": "integer"
                                    },
                                    "rtp": {
                                        "description": "The ID of the RTP this code applies to. Means members of brand's RTP can then use that code.",
                                        "type": "integer"
                                    },
                                    "mip": {
                                        "description": "The ID of the MIP this code applies to. Means members of brand's MIP can then use that code.",
                                        "type": "integer"
                                    },
                                    "with": {
                                        "description": "The extra fields you want in the returned JSON",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created object.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/discount-code"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/discount-codes/{code}/{brandId}": {
            "get": {
                "summary": "Get Single Discount Code",
                "operationId": "App\\Controller\\Brand\\DiscountCodeController::getDiscountCodeAction",
                "parameters": [
                    {
                        "name": "code",
                        "in": "path",
                        "description": "The discount code to retreive",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "Brand id of the code to retreive",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response"
                    }
                }
            }
        },
        "/discount-codes/claim/{brandId}": {
            "put": {
                "summary": "For insiders: claim a discount code previously created by admins or brand managers<br>\nWe will check the insider category of the insider and fetch an existing unclaimed code for his program<br>\nThe insider can then get his discount codes from route api.discountcodes.get_discountcodes (but the codes will also be in the response to this call)",
                "operationId": "App\\Controller\\Brand\\DiscountCodeController::claimDiscountCodeAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "Brand id of the code to retreive",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "count",
                        "in": "query",
                        "description": "The number of codes to claim (default 1)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of Discount Codes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/discount-code"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/discount-codes/{codeId}": {
            "delete": {
                "summary": "Delete a Discount Code",
                "operationId": "App\\Controller\\Brand\\DiscountCodeController::deleteDiscountCodeAction",
                "parameters": [
                    {
                        "name": "codeId",
                        "in": "path",
                        "description": "The ID of the discount code to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "description": "To hard-delete the code (admins only, default false)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Discount code deleted"
                    }
                }
            }
        },
        "/discount-codes/{codeId}/targets/{targetId}": {
            "delete": {
                "summary": "Delete a Discount Code Target",
                "operationId": "App\\Controller\\Brand\\DiscountCodeController::deleteDiscountCodeTargetAction",
                "parameters": [
                    {
                        "name": "codeId",
                        "in": "path",
                        "description": "The ID of the discount code to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "targetId",
                        "in": "path",
                        "description": "The ID of the discount code Target to delete",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Discount code deleted"
                    }
                }
            }
        },
        "/insiders": {
            "get": {
                "summary": "Get Insiders",
                "operationId": "App\\Controller\\Brand\\InsiderController::getActivatedInsidersAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/brand"
                    },
                    {
                        "$ref": "#/components/parameters/profile"
                    },
                    {
                        "$ref": "#/components/parameters/before"
                    },
                    {
                        "$ref": "#/components/parameters/after"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of insiders",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/insider"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/insiders/{brandId}/{profileId}": {
            "get": {
                "summary": "Get Single Insider",
                "operationId": "App\\Controller\\Brand\\InsiderController::getActivatedInsiderAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "ID of the brand",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "description": "Profile ID of the user in brand's activated insiders",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Insider Object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/insider"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Add a user to brand's Insiders",
                "operationId": "App\\Controller\\Brand\\InsiderController::addActivatedInsiderAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "ID of the brand add the activated insider",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "description": "Profile ID of the user to add to brand's activated insiders",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Created Insider object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/insider"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Remove a Insider",
                "operationId": "App\\Controller\\Brand\\InsiderController::removeActivatedInsiderAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "ID of the brand add the activated insider",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "profileId",
                        "in": "path",
                        "description": "Profile ID of the user to add to brand's activated insiders",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Removed the insider"
                    }
                }
            }
        },
        "/cnps": {
            "get": {
                "summary": "Get CNPS",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/is-featured"
                    },
                    {
                        "$ref": "#/components/parameters/categories"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of CNPS",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            }
        },
        "/cnps/{cnpId}": {
            "get": {
                "summary": "Get Single CNP",
                "parameters": [
                    {
                        "name": "cnpId",
                        "in": "path",
                        "description": "The CNP Id to search by.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/schemas/program"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CNP Object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/program"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "summary": "Update CNP",
                "parameters": [
                    {
                        "name": "cnpId",
                        "in": "path",
                        "description": "The CNP Id to search by.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/program-update"
                            }
                        }
                    }
                },
                "responses": {
                    "204": {
                        "description": "Nothing to update"
                    },
                    "200": {
                        "description": "The updated object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/program"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "summary": "Close CNP",
                "description": "Cloas a CNP (admins only)",
                "parameters": [
                    {
                        "name": "cnpId",
                        "in": "path",
                        "description": "The CNP Id to search by.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "CNP closed"
                    }
                }
            }
        },
        "/cnps/brand={brand}": {
            "get": {
                "summary": "Get Single CNP - Brand",
                "parameters": [
                    {
                        "name": "brand",
                        "in": "path",
                        "description": "Profile name of the brand",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/schemas/program"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CNP Object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/program"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cnps/{cnpId}/subscriptions": {
            "get": {
                "summary": "Get CNP subscriptions",
                "parameters": [
                    {
                        "name": "cnpId",
                        "in": "path",
                        "description": "The CNP Id to search by.",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of CNP subscriptions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/subscription"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/cnp-subscriptions": {
            "get": {
                "summary": "Get CNP Subscriptions",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/program"
                    },
                    {
                        "$ref": "#/components/parameters/with-refused"
                    },
                    {
                        "$ref": "#/components/parameters/with-revoked"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
[...]
