{
    "openapi": "3.0.0",
    "info": {
        "title": "Wildfitter",
        "description": "This is the new wildfitter api",
        "contact": {
            "email": "aleksa.gavrilovic@guidefitter.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://aleksa-new-api.wildfitter.com",
            "description": "Wildfitter doc test server"
        }
    ],
    "paths": {
        "/activities": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activities",
                "operationId": "App\\Controller\\Admin\\ActivityController::getActivitiesAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Filter activity created BEFORE that date. Received as timestamp.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Filter activity created AFTER that date. Received as timestamp.",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "groups",
                        "in": "query",
                        "description": "Filter on activity group (separated by commas)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "description": "Filter on activity type (create/update/delete)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "is-triage",
                        "in": "query",
                        "description": "Filter activities for admin triage. Will return only activities that require mandatory admin inspection",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "profile",
                        "in": "query",
                        "description": "Only include activities performed on this profile",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "Only include activities performed by this profile",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "outfitter",
                        "in": "query",
                        "description": "Include activities related to this outfitter",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "description": "Include activities related to this brand",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "association",
                        "in": "query",
                        "description": "Include activities related to this association",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "vendor",
                        "in": "query",
                        "description": "Include activities related to this generic vendor",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "review",
                        "in": "query",
                        "description": "Only Include activities related to this review",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "verification",
                        "in": "query",
                        "description": "Only include activities regarding this Profile Verification",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "album",
                        "in": "query",
                        "description": "Also include activities related to this album",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of activity objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/activity"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/activities/{activityId}": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Single Activity",
                "operationId": "App\\Controller\\Admin\\ActivityController::getActivityAction",
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "Id of the activity to retreive",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Activity Object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/activity"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/outfitters": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Outfitters",
                "operationId": "App\\Controller\\Admin\\ExportController::exportOutfittersAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/has-product"
                    },
                    {
                        "$ref": "#/components/parameters/has-avatar"
                    },
                    {
                        "$ref": "#/components/parameters/has-photos"
                    },
                    {
                        "$ref": "#/components/parameters/has-manager"
                    },
                    {
                        "$ref": "#/components/parameters/manager"
                    },
                    {
                        "$ref": "#/components/parameters/owner"
                    },
                    {
                        "$ref": "#/components/parameters/has-claim"
                    },
                    {
                        "$ref": "#/components/parameters/email-verified"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    },
                    {
                        "$ref": "#/components/parameters/location"
                    },
                    {
                        "$ref": "#/components/parameters/location-bis"
                    },
                    {
                        "$ref": "#/components/parameters/location-fence"
                    },
                    {
                        "$ref": "#/components/parameters/lat"
                    },
                    {
                        "$ref": "#/components/parameters/lon"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/users": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Users",
                "operationId": "App\\Controller\\Admin\\ExportController::exportUsersAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/has-profile-photo"
                    },
                    {
                        "$ref": "#/components/parameters/has-claim"
                    },
                    {
                        "$ref": "#/components/parameters/insider-category"
                    },
                    {
                        "$ref": "#/components/parameters/phylum"
                    },
                    {
                        "$ref": "#/components/parameters/is-verified-insider"
                    },
                    {
                        "$ref": "#/components/parameters/is-dod-verified"
                    },
                    {
                        "$ref": "#/components/parameters/profile-verification"
                    },
                    {
                        "$ref": "#/components/parameters/profile-verification-before"
                    },
                    {
                        "$ref": "#/components/parameters/profile-verification-after"
                    },
                    {
                        "$ref": "#/components/parameters/subscriptions"
                    },
                    {
                        "$ref": "#/components/parameters/orders"
                    },
                    {
                        "$ref": "#/components/parameters/brands"
                    },
                    {
                        "$ref": "#/components/parameters/is-manager"
                    },
                    {
                        "$ref": "#/components/parameters/has-pending-document"
                    },
                    {
                        "$ref": "#/components/parameters/has-experience"
                    },
                    {
                        "$ref": "#/components/parameters/is-email-verified"
                    },
                    {
                        "$ref": "#/components/parameters/brag-app"
                    },
                    {
                        "$ref": "#/components/parameters/business-app"
                    },
                    {
                        "$ref": "#/components/parameters/notifications"
                    },
                    {
                        "$ref": "#/components/parameters/following"
                    },
                    {
                        "$ref": "#/components/parameters/is-admin"
                    },
                    {
                        "$ref": "#/components/parameters/is-prostaff"
                    },
                    {
                        "$ref": "#/components/parameters/is-activated-insider"
                    },
                    {
                        "$ref": "#/components/parameters/is-ghost"
                    },
                    {
                        "$ref": "#/components/parameters/has-review"
                    },
                    {
                        "$ref": "#/components/parameters/has-names"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    },
                    {
                        "$ref": "#/components/parameters/location"
                    },
                    {
                        "$ref": "#/components/parameters/location-bis"
                    },
                    {
                        "$ref": "#/components/parameters/location-fence"
                    },
                    {
                        "$ref": "#/components/parameters/lat"
                    },
                    {
                        "$ref": "#/components/parameters/lon"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/brands": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Export Brands",
                "operationId": "App\\Controller\\Admin\\ExportController::getBrandsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/gop"
                    },
                    {
                        "$ref": "#/components/parameters/gop-channel"
                    },
                    {
                        "$ref": "#/components/parameters/gop-shop"
                    },
                    {
                        "$ref": "#/components/parameters/gop-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/idp"
                    },
                    {
                        "$ref": "#/components/parameters/idp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/idp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/cnp"
                    },
                    {
                        "$ref": "#/components/parameters/cnp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/cnp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/oep"
                    },
                    {
                        "$ref": "#/components/parameters/oep-channel"
                    },
                    {
                        "$ref": "#/components/parameters/oep-shop"
                    },
                    {
                        "$ref": "#/components/parameters/mip"
                    },
                    {
                        "$ref": "#/components/parameters/mip-channel"
                    },
                    {
                        "$ref": "#/components/parameters/mip-shop"
                    },
                    {
                        "$ref": "#/components/parameters/mip-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/frp"
                    },
                    {
                        "$ref": "#/components/parameters/frp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/frp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/frp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/ecp"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/rtp"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/prostaff"
                    },
                    {
                        "$ref": "#/components/parameters/prostaff-shop"
                    },
                    {
                        "$ref": "#/components/parameters/aim"
                    },
                    {
                        "$ref": "#/components/parameters/aim-shop"
                    },
                    {
                        "$ref": "#/components/parameters/categories"
                    },
                    {
                        "$ref": "#/components/parameters/corporate-domain"
                    },
                    {
                        "$ref": "#/components/parameters/has-domain"
                    },
                    {
                        "$ref": "#/components/parameters/has-grid-access"
                    },
                    {
                        "$ref": "#/components/parameters/parent"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    },
                    {
                        "$ref": "#/components/parameters/location"
                    },
                    {
                        "$ref": "#/components/parameters/location-bis"
                    },
                    {
                        "$ref": "#/components/parameters/location-fence"
                    },
                    {
                        "$ref": "#/components/parameters/lat"
                    },
                    {
                        "$ref": "#/components/parameters/lon"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/{program-subscriptions}": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Program Subscriptions",
                "operationId": "App\\Controller\\Admin\\ExportController::exportProgramSubscriptionsAction",
                "parameters": [
                    {
                        "name": "program-subscriptions",
                        "in": "path",
                        "description": "Name of the program to get subscriptions of. Example('/gop-subscriptions', '/idp-subscriptions')",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/program"
                    },
                    {
                        "$ref": "#/components/parameters/with-refused"
                    },
                    {
                        "$ref": "#/components/parameters/with-revoked"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/insider-status"
                    },
                    {
                        "$ref": "#/components/parameters/profile-verification"
                    },
                    {
                        "$ref": "#/components/parameters/notifications"
                    },
                    {
                        "$ref": "#/components/parameters/profile"
                    },
                    {
                        "$ref": "#/components/parameters/dealer"
                    },
                    {
                        "$ref": "#/components/parameters/code"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/vendors": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Export Vendors",
                "operationId": "App\\Controller\\Admin\\ExportController::getVendorsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The Type of vendor (e.g. 60 for Conservation Groups or 51 for Federal Government). Separated by commas if more than 1",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "insider-category",
                        "in": "query",
                        "description": "The Insider Category that's opened when user is an employee of the vendor",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "insider-type",
                        "in": "query",
                        "description": "The Insider Type that's opened when user is an employee of the vendor",
                        "required": false,
                        "schema": {
                            "type": "integer    "
                        }
                    },
                    {
                        "name": "has-domain",
                        "in": "query",
                        "description": "Filter vendors depending if they have one or more corporate domains set",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "ffl-expired",
                        "in": "query",
                        "description": "Only when types=22. Filter vendors based on the FFL expiration date",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "has-ffl",
                        "in": "query",
                        "description": "Only when types=22. Filter vendors that have (or not) the FFL file uploaded on GF",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "dealership",
                        "in": "query",
                        "description": "Only for types 21 and 22 (dealers). Pass the brand IDs separated by comma",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/associations": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Associations",
                "operationId": "App\\Controller\\Admin\\ExportController::getAssociationsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/jurisdiction"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/orders": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Orders",
                "operationId": "App\\Controller\\Admin\\ExportController::getOrdersAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "The User ID of the buyer",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "description": "The Brand ID the order was placed to",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "gop",
                        "in": "query",
                        "description": "GOP ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idp",
                        "in": "query",
                        "description": "IDP ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cnp",
                        "in": "query",
                        "description": "CNP ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "oep",
                        "in": "query",
                        "description": "OEP ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "mip",
                        "in": "query",
                        "description": "MIP ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "frp",
                        "in": "query",
                        "description": "FRP ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "ecp",
                        "in": "query",
                        "description": "ECP ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "rtp",
                        "in": "query",
                        "description": "RTP ID",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is-prostaff",
                        "in": "query",
                        "description": "Filter Pro Staff orders",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/is-aim"
                    },
                    {
                        "name": "insider-category",
                        "in": "query",
                        "description": "Filter orders for a given insider category",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/year"
                    },
                    {
                        "$ref": "#/components/parameters/statuses"
                    },
                    {
                        "$ref": "#/components/parameters/sku"
                    },
                    {
                        "name": "dealer",
                        "in": "query",
                        "description": "The Vendor ID of the dealer the order was shipped to",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "review",
                        "in": "query",
                        "description": "The Review ID tagged in at least 1 item of the order",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/reviews": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Orders",
                "operationId": "App\\Controller\\Admin\\ExportController::getReviewsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "name": "profile",
                        "in": "query",
                        "description": "Filter reviews written by a profile",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "description": "Filter reviews for a brand",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "item",
                        "in": "query",
                        "description": "Filter reviews for an item",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "Filter review created BEFORE that date (timestamp)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Filter reviews created a given year",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is-dispatched",
                        "in": "query",
                        "description": "Filter to only get reviews dispatched (admin only)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is-corrected",
                        "in": "query",
                        "description": "Filter to only get reviews with admin correction (admin only)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is-published",
                        "in": "query",
                        "description": "Filter to only get reviews not yet published or all combined (admin only)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is-deleted",
                        "in": "query",
                        "description": "Filter to only get soft deleted reviews (admin only)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "has-order",
                        "in": "query",
                        "description": "Filter to only get reviews that triggered purchase (admin only)",
                        "required": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/articles": {
            "get": {
                "tags": [
                    "Article"
                ],
                "summary": "Get Articles",
                "operationId": "App\\Controller\\Article\\ArticleController::getArticlesAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/type"
                    },
                    {
                        "$ref": "#/components/parameters/outfitter"
                    },
                    {
                        "$ref": "#/components/parameters/with-unpublished"
                    },
                    {
                        "$ref": "#/components/parameters/is-deleted"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of article objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Article"
                ],
                "summary": "Create Article",
                "operationId": "App\\Controller\\Article\\ArticleController::createArticleAction",
                "requestBody": {},
                "responses": {
                    "201": {
                        "description": "Created article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/articles/name={name}": {
            "get": {
                "tags": [
                    "Article"
                ],
                "summary": "Get Single Article",
                "operationId": "App\\Controller\\Article\\ArticleController::getArticleAction",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The article name to fetch",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/articles/{articleId}": {
            "get": {
                "tags": [
                    "Article"
                ],
                "summary": "Get Single Article",
                "operationId": "App\\Controller\\Article\\ArticleController::getArticleAction",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "The article to fetch",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Article"
                ],
                "summary": "Update Article",
                "operationId": "App\\Controller\\Article\\ArticleController::updateArticleAction",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "The article to update",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {},
                "responses": {
                    "200": {
                        "description": "Updated article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Article not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Article"
                ],
                "summary": "Soft-delete an article",
                "operationId": "App\\Controller\\Article\\ArticleController::deleteArticleAction",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "The article to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "description": "To hard-delete the article",
                        "required": true,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Article soft-deleted"
                    }
                }
            }
        },
        "/associatons": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get Association",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/jurisdiction"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of associaton objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons/name={name}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get a Single Association - Name",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationAction",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Name of the association to retreive",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associaton object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons/profile={profileId}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get a Single Association - Profile",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationAction",
                "parameters": [
                    {
                        "name": "profileId",
                        "in": "path",
                        "description": "Profile ID of the Association to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associaton object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons/{associationId}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get a Single Association",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associaton object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associations": {
            "post": {
                "tags": [
                    "Association"
                ],
                "summary": "Create a Association",
                "operationId": "App\\Controller\\Association\\AssociationController::createAssociationAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "The Guidefitter profile name of the association",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "association_name": {
                                        "description": "The name of the association",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "description": {
                                        "description": "The association description",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "url": {
                                        "description": "The association website URL",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "email": {
                                        "description": "The association email address",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_outfitter": {
                                        "description": "The default association membership fee for an outfitter",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_guide": {
                                        "description": "The default association membership fee for a guide",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_sportsman": {
                                        "description": "The default association membership fee for a sportsman",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_associate": {
                                        "description": "The default association membership fee for an associate",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "affidavit": {
                                        "description": "The name of the affidavit letter written by Bryan (admins only)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "jurisdiction": {
                                        "description": "The ID of the country/state the association operates in",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "with": {
                                        "description": "The extra fields you want in the returned JSON",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Association created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing data"
                    }
                }
            }
        },
        "/associations/{associationId}": {
            "post": {
                "tags": [
                    "Association"
                ],
                "summary": "Update an Association",
                "operationId": "App\\Controller\\Association\\AssociationController::updateAssociationAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "association_name": {
                                        "description": "The name of the association",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "description": {
                                        "description": "The association description",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "url": {
                                        "description": "The association website URL",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "email": {
                                        "description": "The association email address",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_outfitter": {
                                        "description": "The default association membership fee for an outfitter",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_guide": {
                                        "description": "The default association membership fee for a guide",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_sportsman": {
                                        "description": "The default association membership fee for a sportsman",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_associate": {
                                        "description": "The default association membership fee for an associate",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "affidavit": {
                                        "description": "The name of the affidavit letter written by Bryan (admins only)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "jurisdiction": {
                                        "description": "The ID of the country/state the association operates in",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "city": {
                                        "description": "Association headquarters address city (AddressJson)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "state": {
                                        "description": "Association headquarters address state (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "country": {
                                        "description": "Association headquarters address country (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "street1": {
                                        "description": "Association headquarters address line 1",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "street2": {
                                        "description": "Association headquarters address line 2",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "zip": {
                                        "description": "Association headquarters address ZIP code",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "name": {
                                        "description": "The Association Profile name (that'll be its Guidefitter URL)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "avatar": {
                                        "description": "The ID of the photo to use as profile avatar",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "cover": {
                                        "description": "The ID of the photo to use as profile cover",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "notifications": {
                                        "description": "The list of notifications IDs the association is subscribed to",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "active": {
                                        "description": "Enable/disable the profile (only admins)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "undelete": {
                                        "description": "Un-delete the association (only admins)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Association updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Nothing to update"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Association"
                ],
                "summary": "Delete a Association",
                "operationId": "App\\Controller\\Association\\AssociationController::deleteAssociationAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to delete",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "description": "To hard-delete the association and all its related entities",
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "association deleted"
                    }
                }
            }
        },
        "/associatons/{associationId}/siblings": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get a Single Association",
                "operationId": "App\\Controller\\Association\\AssociationController::getSimilarAssociationsAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to retrieve",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array ofAssociaton objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons-memberships": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get Association Memberships",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::getAssociationMembershipsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/association"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of membership (1=outfitter, 2=guide, 3=sportsman, 4=associate)",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of associaton memberships objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association-membership"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/association-membershio.{_format}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Export Association Memberships",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::exportAssociationMembershipsAction",
                "responses": {
                    "200": {
                        "description": "Returns a CSV file"
                    }
                }
            }
        },
        "/associaton-memberships/{membershipId}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get Articles",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::getAssociationMembershipAction",
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "description": "The ID of the AssociationMembership",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associaton Membership object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/association-memberships": {
            "post": {
                "tags": [
                    "Association"
                ],
                "summary": "Create a Association Membership",
                "requestBody": {},
                "responses": {
                    "201": {
                        "description": "Association membership created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association-membership"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/association-memberships/{memberhipId}": {
            "put": {
                "tags": [
                    "Association"
                ],
                "summary": "Create a Association Membership",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::updateAssociationMembershipAction",
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "description": "The ID of the AssociationMembership",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {},
                "responses": {
                    "200": {
                        "description": "Updated association membership object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association-membership"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Nothing to update"
                    }
                }
            }
        },
        "/association-memberships/{membershipId}": {
            "delete": {
                "tags": [
                    "Association"
                ],
                "summary": "Delete an Association Membership",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::deleteAssociationMembershipAction",
                "parameters": [
                    {
                        "name": "membershipId",
                        "in": "path",
                        "description": "The ID of the AssociationMembership",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Nothing to update"
                    }
                }
            }
        },
        "/brands": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Get Brands",
                "description": "",
                "operationId": "App\\Controller\\Brand\\BrandController::getBrandsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/gop"
                    },
                    {
                        "$ref": "#/components/parameters/gop-channel"
                    },
                    {
                        "$ref": "#/components/parameters/gop-shop"
                    },
                    {
                        "$ref": "#/components/parameters/gop-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/idp"
                    },
                    {
                        "$ref": "#/components/parameters/idp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/idp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/cnp"
                    },
                    {
                        "$ref": "#/components/parameters/cnp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/cnp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/oep"
                    },
                    {
                        "$ref": "#/components/parameters/oep-channel"
                    },
                    {
                        "$ref": "#/components/parameters/oep-shop"
                    },
                    {
                        "$ref": "#/components/parameters/mip"
                    },
                    {
                        "$ref": "#/components/parameters/mip-channel"
                    },
                    {
                        "$ref": "#/components/parameters/mip-shop"
                    },
                    {
                        "$ref": "#/components/parameters/mip-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/frp"
                    },
                    {
                        "$ref": "#/components/parameters/frp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/frp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/frp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/ecp"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/rtp"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/prostaff"
                    },
                    {
                        "$ref": "#/components/parameters/prostaff-shop"
                    },
                    {
                        "$ref": "#/components/parameters/aim"
                    },
                    {
                        "$ref": "#/components/parameters/aim-shop"
                    },
                    {
                        "$ref": "#/components/parameters/categories"
                    },
                    {
                        "$ref": "#/components/parameters/corporate-domain"
                    },
                    {
                        "$ref": "#/components/parameters/has-domain"
                    },
                    {
                        "$ref": "#/components/parameters/has-grid-access"
                    },
                    {
                        "$ref": "#/components/parameters/parent"
                    },
                    {
                        "name": "profile-status",
                        "in": "query",
                        "description": "The status of the profile (online/offline/any) (online by default)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "deleted",
                        "in": "query",
                        "description": "Include soft deleted profiles in the search (yes/no/any) (no by default)",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "description": "Filter by country or state. The Geoname ID of the GeoEntities separated by commas, or '0' to filter those without a location.<br> Also those values are possible 'midwest', 'south', 'east', 'west'",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Brand"
                ],
                "summary": "Create Brand",
                "operationId": "App\\Controller\\Brand\\BrandController::createBrandAction",
                "requestBody": {
                    "description": "The user object that will be added.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "The Guidefitter Profile name of the brand",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands"
                                    },
                                    "brand_name": {
                                        "description": "The name of the brand",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands"
                                    },
                                    "grid_enabled": {
                                        "description": "Enable/disable the grid capabilities of that brand + show programs in cockpit (only admins)",
                                        "type": "string",
                                        "format": "password",
                                        "example": "https://api.guidefitter.com/brands"
                                    },
                                    "with": {
                                        "description": "The extra fields you want in the returned JSON",
                                        "type": "string",
                                        "format": "password",
                                        "example": "https://api.guidefitter.com/brands"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Brand created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing data"
                    }
                }
            }
        },
        "/brands/name": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Get a Single Brand - Name",
                "operationId": "App\\Controller\\Brand\\BrandController::getBrandAction",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The name to search by",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/brands/profileId": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Get a Single Brand - Profile",
                "operationId": "App\\Controller\\Brand\\BrandController::getBrandAction",
                "parameters": [
                    {
                        "name": "profileId",
                        "in": "path",
                        "description": "The profile Id to search by",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/brands/brandId": {
            "get": {
                "tags": [
                    "Brand"
                ],
                "summary": "Get Single Brand - Profile",
                "operationId": "App\\Controller\\Brand\\BrandController::getBrandAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The brand Id to search by",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/brand"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Brand"
                ],
                "summary": "Update an brand (must be authenticated)\n> Update the brand entity, the address, and its profile",
                "operationId": "App\\Controller\\Brand\\BrandController::updateBrandAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "The brand Id to search by",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The brand object that will be updated.",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "brand_name": {
                                        "description": "The name of the brand",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "email": {
                                        "description": "An email address",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "slogan": {
                                        "description": "The brand's slogan",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "join_message": {
                                        "description": "The message displayed on the brand's employees signup page",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "insider_message": {
                                        "description": "The message displayed on the brand's insiders signup page",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "url": {
                                        "description": "Brand website URL (not GOP, general public URL)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "city": {
                                        "description": "Brand's address city (AddressJson)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "state": {
                                        "description": "Brand's address state (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "country": {
                                        "description": "Brand's address country (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "street1": {
                                        "description": "Brand address line 1",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "street2": {
                                        "description": "Brand address line 2",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "zip": {
                                        "description": "Brand address ZIP code",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "corporate_domains": {
                                        "description": "List of email domains for the brand (including @) (admins only)",
                                        "type": "array",
                                        "items": {
                                            "type": "string"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "corporate_domains_regex": {
                                        "description": "A regexp to catch all variations of corporate domains (including @) (admins only)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "gear_categories": {
                                        "description": "An array of Gear Category IDs (admins only)",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "parent_brand": {
                                        "description": "The Brand ID of the parent brand (admins only)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "account_manager": {
                                        "description": "The Profile ID of the GF admin that's managing this account (admins only)",
                                        "type": "string",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "anniversary": {
                                        "description": "The ISO date of the brand's Grid anniversary (admins only)",
                                        "type": "string",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "grid_agreement": {
                                        "description": "The file name of the Grid Agreement template already uploaded on guidefitterconfidential S3 bucket (admins only)",
                                        "type": "string",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "prostaff_status": {
                                        "description": "Set status of the Pro Staff Program, 0=locked, 1=closed, 2=opened",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "prostaff_shop_status": {
                                        "description": "Set magento shop status for the Pro Staff, 1=created, 2=opened (admins only)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "prostaff_duration": {
                                        "description": "Set status of the Pro Staff membership default duration, null=everlasting, 1=6m, 2=1y",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "prostaff_agreement": {
                                        "description": "The file name of the Pro Staff Agreement template already uploaded on guidefitterconfidential S3 bucket",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "aim_status": {
                                        "description": "Set status of the AIM Program, 0=locked, 1=closed, 2=opened",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "aim_shop_status": {
                                        "description": "Set magento shop status for AIM, 1=created, 2=opened (admins only)",
                                        "type": "string",
                                        "items": {
                                            "type": "integer"
                                        },
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "price_date": {
                                        "description": "The date when pricing was last updated. If NULL it'll default to current date/time",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "inventory_date": {
                                        "description": "The date when inventory was last updated. If NULL it'll default to current date/time.",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "name": {
                                        "description": "The Brand Profile name (that'll be his Guidefitter URL)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/brands/5002"
                                    },
                                    "avatar": {
                                        "description": "The ID of the photo to use as profile avatar",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/brands/5002"
[...]
