{
    "openapi": "3.0.0",
    "info": {
        "title": "Search API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https://api.wildfitter.com",
            "description": "WildFitter Api"
        }
    ],
    "paths": {
        "/users": {
            "get": {
                "operationId": "App\\Controller\\TestController::index",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "App\\Controller\\TestController::insertUser",
                "requestBody": {
                    "request": "UserArray",
                    "description": "List of user object",
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "Ovo je opis"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "description": "This is just a user.",
                "type": "string"
            }
        }
    }
}