{
    "openapi": "3.0.0",
    "info": {
        "title": "Wildfitter",
        "description": "This is the new wildfitter api",
        "contact": {
            "email": "aleksa.gavrilovic@guidefitter.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://aleksa-new-api.wildfitter.com",
            "description": "Wildfitter doc test server"
        }
    ],
    "paths": {
        "/activities": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get Activities",
                "description": "Search through activities.",
                "operationId": "App\\Controller\\Admin\\ActivityController::getActivitiesAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "Filter activity created BEFORE that date. Received as timestamp.",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "Filter activity created AFTER that date. Received as timestamp.",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "groups",
                        "in": "query",
                        "description": "Filter on activity group (separated by commas).",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "types",
                        "in": "query",
                        "description": "Filter on activity type (create/update/delete).",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "is-triage",
                        "in": "query",
                        "description": "Filter activities for admin triage. Will return only activities that require mandatory admin inspection.",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "profile",
                        "in": "query",
                        "description": "Only include activities performed on this profile",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "Only include activities performed by this profile",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "outfitter",
                        "in": "query",
                        "description": "Include activities related to this outfitter",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "description": "Include activities related to this brand",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "association",
                        "in": "query",
                        "description": "Include activities related to this association",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "vendor",
                        "in": "query",
                        "description": "Include activities related to this generic vendor",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "review",
                        "in": "query",
                        "description": "Only Include activities related to this review",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "verification",
                        "in": "query",
                        "description": "Only include activities regarding this Profile Verification",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "album",
                        "in": "query",
                        "description": "Include activities related to this album",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of activity objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/activity"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/activities/{activityId}": {
            "get": {
                "tags": [
                    "Activity"
                ],
                "summary": "Get a Single Activity",
                "description": "Get a single activity. Only Lambda apps with admin token can access.",
                "operationId": "App\\Controller\\Admin\\ActivityController::getActivityAction",
                "parameters": [
                    {
                        "name": "activityId",
                        "in": "path",
                        "description": "Id of the activity to retreive",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Activity Object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/activity"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/exports/outfitters": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Outfitters",
                "description": "Search Guidefitter outfitters and get all results in a CSV",
                "operationId": "App\\Controller\\Admin\\ExportController::exportOutfittersAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/has-product"
                    },
                    {
                        "$ref": "#/components/parameters/has-avatar"
                    },
                    {
                        "$ref": "#/components/parameters/has-photos"
                    },
                    {
                        "$ref": "#/components/parameters/has-manager"
                    },
                    {
                        "$ref": "#/components/parameters/manager"
                    },
                    {
                        "$ref": "#/components/parameters/owner"
                    },
                    {
                        "$ref": "#/components/parameters/has-claim"
                    },
                    {
                        "$ref": "#/components/parameters/email-verified"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    },
                    {
                        "$ref": "#/components/parameters/location"
                    },
                    {
                        "$ref": "#/components/parameters/location-bis"
                    },
                    {
                        "$ref": "#/components/parameters/location-fence"
                    },
                    {
                        "$ref": "#/components/parameters/lat"
                    },
                    {
                        "$ref": "#/components/parameters/lon"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/users": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Users",
                "description": "Search Guidefitter users and get all results in a CSV",
                "operationId": "App\\Controller\\Admin\\ExportController::exportUsersAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/has-profile-photo"
                    },
                    {
                        "$ref": "#/components/parameters/has-claim"
                    },
                    {
                        "$ref": "#/components/parameters/insider-category"
                    },
                    {
                        "$ref": "#/components/parameters/phylum"
                    },
                    {
                        "$ref": "#/components/parameters/is-verified-insider"
                    },
                    {
                        "$ref": "#/components/parameters/is-dod-verified"
                    },
                    {
                        "$ref": "#/components/parameters/profile-verification"
                    },
                    {
                        "$ref": "#/components/parameters/profile-verification-before"
                    },
                    {
                        "$ref": "#/components/parameters/profile-verification-after"
                    },
                    {
                        "$ref": "#/components/parameters/subscriptions"
                    },
                    {
                        "$ref": "#/components/parameters/orders"
                    },
                    {
                        "$ref": "#/components/parameters/brands"
                    },
                    {
                        "$ref": "#/components/parameters/is-manager"
                    },
                    {
                        "$ref": "#/components/parameters/has-pending-document"
                    },
                    {
                        "$ref": "#/components/parameters/has-experience"
                    },
                    {
                        "$ref": "#/components/parameters/is-email-verified"
                    },
                    {
                        "$ref": "#/components/parameters/brag-app"
                    },
                    {
                        "$ref": "#/components/parameters/business-app"
                    },
                    {
                        "$ref": "#/components/parameters/notifications"
                    },
                    {
                        "$ref": "#/components/parameters/following"
                    },
                    {
                        "$ref": "#/components/parameters/is-admin"
                    },
                    {
                        "$ref": "#/components/parameters/is-prostaff"
                    },
                    {
                        "$ref": "#/components/parameters/is-activated-insider"
                    },
                    {
                        "$ref": "#/components/parameters/is-ghost"
                    },
                    {
                        "$ref": "#/components/parameters/has-review"
                    },
                    {
                        "$ref": "#/components/parameters/has-names"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    },
                    {
                        "$ref": "#/components/parameters/location"
                    },
                    {
                        "$ref": "#/components/parameters/location-bis"
                    },
                    {
                        "$ref": "#/components/parameters/location-fence"
                    },
                    {
                        "$ref": "#/components/parameters/lat"
                    },
                    {
                        "$ref": "#/components/parameters/lon"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/brands": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Brands",
                "description": "Search brands and get all results in a CSV",
                "operationId": "App\\Controller\\Admin\\ExportController::getBrandsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/gop"
                    },
                    {
                        "$ref": "#/components/parameters/gop-channel"
                    },
                    {
                        "$ref": "#/components/parameters/gop-shop"
                    },
                    {
                        "$ref": "#/components/parameters/gop-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/idp"
                    },
                    {
                        "$ref": "#/components/parameters/idp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/idp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/cnp"
                    },
                    {
                        "$ref": "#/components/parameters/cnp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/cnp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/oep"
                    },
                    {
                        "$ref": "#/components/parameters/oep-channel"
                    },
                    {
                        "$ref": "#/components/parameters/oep-shop"
                    },
                    {
                        "$ref": "#/components/parameters/mip"
                    },
                    {
                        "$ref": "#/components/parameters/mip-channel"
                    },
                    {
                        "$ref": "#/components/parameters/mip-shop"
                    },
                    {
                        "$ref": "#/components/parameters/mip-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/frp"
                    },
                    {
                        "$ref": "#/components/parameters/frp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/frp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/frp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/ecp"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/ecp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/rtp"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-channel"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-shop"
                    },
                    {
                        "$ref": "#/components/parameters/rtp-phylum"
                    },
                    {
                        "$ref": "#/components/parameters/prostaff"
                    },
                    {
                        "$ref": "#/components/parameters/prostaff-shop"
                    },
                    {
                        "$ref": "#/components/parameters/aim"
                    },
                    {
                        "$ref": "#/components/parameters/aim-shop"
                    },
                    {
                        "$ref": "#/components/parameters/categories"
                    },
                    {
                        "$ref": "#/components/parameters/corporate-domain"
                    },
                    {
                        "$ref": "#/components/parameters/has-domain"
                    },
                    {
                        "$ref": "#/components/parameters/has-grid-access"
                    },
                    {
                        "$ref": "#/components/parameters/parent"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    },
                    {
                        "$ref": "#/components/parameters/location"
                    },
                    {
                        "$ref": "#/components/parameters/location-bis"
                    },
                    {
                        "$ref": "#/components/parameters/location-fence"
                    },
                    {
                        "$ref": "#/components/parameters/lat"
                    },
                    {
                        "$ref": "#/components/parameters/lon"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/{program-subscriptions}": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Program Subscriptions",
                "description": "Search Guidefitter Program subscriptions and get all results in a CSV",
                "operationId": "App\\Controller\\Admin\\ExportController::exportProgramSubscriptionsAction",
                "parameters": [
                    {
                        "name": "program-subscriptions",
                        "in": "path",
                        "description": "Name of the program to get subscriptions of. Example('/gop-subscriptions', '/idp-subscriptions')",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/program"
                    },
                    {
                        "$ref": "#/components/parameters/with-refused"
                    },
                    {
                        "$ref": "#/components/parameters/with-revoked"
                    },
                    {
                        "$ref": "#/components/parameters/status"
                    },
                    {
                        "$ref": "#/components/parameters/insider-status"
                    },
                    {
                        "$ref": "#/components/parameters/profile-verification"
                    },
                    {
                        "$ref": "#/components/parameters/notifications"
                    },
                    {
                        "$ref": "#/components/parameters/profile"
                    },
                    {
                        "$ref": "#/components/parameters/dealer"
                    },
                    {
                        "$ref": "#/components/parameters/code"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/vendors": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Vendors",
                "description": "Search vendors and get all results in a CSV",
                "operationId": "App\\Controller\\Admin\\ExportController::getVendorsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The Type of vendor (e.g. 60 for Conservation Groups or 51 for Federal Government). Separated by commas if more than 1",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "insider-category",
                        "in": "query",
                        "description": "The Insider Category that's opened when user is an employee of the vendor",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "insider-type",
                        "in": "query",
                        "description": "The Insider Type that's opened when user is an employee of the vendor",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "has-domain",
                        "in": "query",
                        "description": "Filter vendors depending if they have one or more corporate domains set",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "ffl-expired",
                        "in": "query",
                        "description": "Only when types=22. Filter vendors based on the FFL expiration date",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "has-ffl",
                        "in": "query",
                        "description": "Only when types=22. Filter vendors that have (or not) the FFL file uploaded on GF",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "dealership",
                        "in": "query",
                        "description": "Only for types 21 and 22 (dealers). Pass the brand IDs separated by comma",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/associations": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Associations",
                "description": "Search associations and get all results in a CSV",
                "operationId": "App\\Controller\\Admin\\ExportController::getAssociationsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/jurisdiction"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/orders": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Orders",
                "description": "Search orders and get all results in a CSV",
                "operationId": "App\\Controller\\Admin\\ExportController::getOrdersAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "name": "user",
                        "in": "query",
                        "description": "The User ID of the buyer",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "description": "The Brand ID the order was placed to",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "gop",
                        "in": "query",
                        "description": "GOP ID",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "idp",
                        "in": "query",
                        "description": "IDP ID",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "cnp",
                        "in": "query",
                        "description": "CNP ID",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "oep",
                        "in": "query",
                        "description": "OEP ID",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "mip",
                        "in": "query",
                        "description": "MIP ID",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "frp",
                        "in": "query",
                        "description": "FRP ID",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "ecp",
                        "in": "query",
                        "description": "ECP ID",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "rtp",
                        "in": "query",
                        "description": "RTP ID",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is-prostaff",
                        "in": "query",
                        "description": "Filter Pro Staff orders",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/is-aim"
                    },
                    {
                        "name": "insider-category",
                        "in": "query",
                        "description": "Filter orders for a given insider category",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/year"
                    },
                    {
                        "$ref": "#/components/parameters/statuses"
                    },
                    {
                        "$ref": "#/components/parameters/sku"
                    },
                    {
                        "name": "dealer",
                        "in": "query",
                        "description": "The Vendor ID of the dealer the order was shipped to",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "review",
                        "in": "query",
                        "description": "The Review ID tagged in at least 1 item of the order",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/exports/reviews": {
            "get": {
                "tags": [
                    "Admin Export"
                ],
                "summary": "Export Orders",
                "description": "Search reviews and get all results in a CSV",
                "operationId": "App\\Controller\\Admin\\ExportController::getReviewsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "name": "profile",
                        "in": "query",
                        "description": "Filter reviews written by a profile",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "brand",
                        "in": "query",
                        "description": "Filter reviews for a brand",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "item",
                        "in": "query",
                        "description": "Filter reviews for an item",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "t",
                        "in": "query",
                        "description": "Filter review created BEFORE that date (timestamp)",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "year",
                        "in": "query",
                        "description": "Filter reviews created a given year",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "is-dispatched",
                        "in": "query",
                        "description": "Filter to only get reviews dispatched (admin only)",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is-corrected",
                        "in": "query",
                        "description": "Filter to only get reviews with admin correction (admin only)",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is-published",
                        "in": "query",
                        "description": "Filter to only get reviews not yet published or all combined (admin only)",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "is-deleted",
                        "in": "query",
                        "description": "Filter to only get soft deleted reviews (admin only)",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "has-order",
                        "in": "query",
                        "description": "Filter to only get reviews that triggered purchase (admin only)",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "CSV FILE"
                    }
                }
            }
        },
        "/meta/batch": {
            "post": {
                "tags": [
                    "Meta"
                ],
                "summary": "Launch Batch Jobs",
                "description": "Launch the batch jobs command on DEV or TEST (must be admin)",
                "operationId": "App\\Controller\\Admin\\MetaController::launchBatchjobsAction",
                "responses": {
                    "201": {
                        "description": "Batch job launched"
                    }
                }
            }
        },
        "/meta/cockpit-report": {
            "get": {
                "tags": [
                    "Meta"
                ],
                "summary": "Launch Cockpit Reports",
                "description": "Launch the generation of cockpit reports command on DEV or TEST (must be admin)",
                "operationId": "App\\Controller\\Admin\\MetaController::launchCockpitReportAction",
                "responses": {
                    "201": {
                        "description": "Cockpit reports generated"
                    }
                }
            }
        },
        "/meta/cockpit-report/{brandId}": {
            "get": {
                "tags": [
                    "Meta"
                ],
                "summary": "Launch Cockpit Reports",
                "description": "Launch the generation of cockpit reports command on DEV or TEST (must be admin)",
                "operationId": "App\\Controller\\Admin\\MetaController::launchCockpitReportAction",
                "parameters": [
                    {
                        "name": "brandId",
                        "in": "path",
                        "description": "brand Id",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "201": {
                        "description": "Cockpit reports generated"
                    }
                }
            }
        },
        "/meta/magento-orders": {
            "get": {
                "tags": [
                    "Meta"
                ],
                "summary": "Launch Magento Orders Fetch",
                "description": "Launch the job to fetch Magento Orders on DEV or TEST (must be admin)",
                "operationId": "App\\Controller\\Admin\\MetaController::launchMagentoOrdersAction",
                "responses": {
                    "201": {
                        "description": "Magento orders fetched"
                    }
                }
            }
        },
        "/admin/products": {
            "get": {
                "tags": [
                    "Admin"
                ],
                "summary": "Get Admin Products",
                "description": "Get products (must be authenticated)",
                "operationId": "App\\Controller\\Admin\\ProductController::getProductsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "name": "geoid",
                        "in": "query",
                        "description": "Location ID, filters by country or state",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "ptid",
                        "in": "query",
                        "description": "Product type Id (Big Game, Waterfowl, Upland, ...etc)",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of product objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/product"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/sent-notification": {
            "post": {
                "tags": [
                    "Admin"
                ],
                "summary": "Create a Send Notification",
                "description": "Logs a sent notification. `profile`, `type`, `token` properties are required",
                "operationId": "App\\Controller\\Admin\\SentNotificationController::createSentNotificationAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "profile": {
                                        "description": "The ID of the profile that received the notification",
                                        "type": "integer"
                                    },
                                    "type": {
                                        "description": "The type ID of the sent notification (1=push, 2=email)",
                                        "type": "integer"
                                    },
                                    "token": {
                                        "description": "The UUID or token the provider (Mandrill, Batch) returned to identify the notification",
                                        "type": "string"
                                    },
                                    "message": {
                                        "description": "For an email the subject, for a push the notification message body",
                                        "type": "string"
                                    },
                                    "appkey": {
                                        "description": "[PUSH] The app key the push notification was sent to",
                                        "type": "string"
                                    },
                                    "template": {
                                        "description": "[EMAIL] The email template that was generated and sent",
                                        "type": "string"
                                    },
                                    "activity": {
                                        "description": "The ID of the activity that triggered the notification",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "The created Sent Notification object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/sent-notification"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/admin/settings": {
            "get": {
                "tags": [
                    "Meta"
                ],
                "summary": "Get Settings",
                "description": "Get settings (must be admin)",
                "operationId": "App\\Controller\\Admin\\SettingController::getSettingsAction",
                "responses": {
                    "200": {
                        "description": "Array of settings objects",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Meta"
                ],
                "summary": "Get Settings",
                "description": "Update settings (must be admin)",
                "operationId": "App\\Controller\\Admin\\SettingController::updateSettingAction",
                "responses": {
                    "204": {
                        "description": "Update sucess"
                    }
                }
            }
        },
        "/statistics/today": {
            "get": {
                "tags": [
                    "Meta"
                ],
                "summary": "Get Today's Statistics",
                "description": "Today's statistics summary",
                "operationId": "App\\Controller\\Admin\\StatisticController::getStatisticsAction",
                "responses": {
                    "200": {
                        "description": "Statistics object"
                    }
                }
            }
        },
        "/statistics/daily/{source}/{stat}": {
            "get": {
                "tags": [
                    "Meta"
                ],
                "summary": "Get a Single Statistic",
                "description": "Returns daily values for 1 statistic.",
                "operationId": "App\\Controller\\Admin\\StatisticController::getDailyStatisticsAction",
                "parameters": [
                    {
                        "name": "source",
                        "in": "path",
                        "description": "The stat source (t/s/b)",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "stat",
                        "in": "path",
                        "description": "The stat to retrieve",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gear-category",
                        "in": "query",
                        "description": "When source is 'gc' you need to pass the gear category ID",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Statistics object"
                    }
                }
            }
        },
        "/articles": {
            "get": {
                "tags": [
                    "Article"
                ],
                "summary": "Get Articles",
                "description": "Get all the articles",
                "operationId": "App\\Controller\\Article\\ArticleController::getArticlesAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/type"
                    },
                    {
                        "$ref": "#/components/parameters/outfitter"
                    },
                    {
                        "$ref": "#/components/parameters/with-unpublished"
                    },
                    {
                        "$ref": "#/components/parameters/is-deleted"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of article objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Article"
                ],
                "summary": "Create an Article",
                "description": "Create an Article",
                "operationId": "App\\Controller\\Article\\ArticleController::createArticleAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "type": {
                                        "description": "The type of article (news=1, GF news=2, job=3, landing page=4, video=5, giveaway=6)",
                                        "type": "integer"
                                    },
                                    "name": {
                                        "description": "The article name (URL friendly)",
                                        "type": "string"
                                    },
                                    "title": {
                                        "description": "The article title",
                                        "type": "string"
                                    },
                                    "folder": {
                                        "description": "The article template folder (e.g. 2018-05)",
                                        "type": "string"
                                    },
                                    "summary": {
                                        "description": "The article summary",
                                        "type": "string"
                                    },
                                    "page_title": {
                                        "description": "The article meta page title (max 100 char)",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "The article meta description (max 250 char)",
                                        "type": "string"
                                    },
                                    "video_url": {
                                        "description": "The full URL to the video hosted on Vimeo",
                                        "type": "string"
                                    },
                                    "authors": {
                                        "description": "Array of profile IDs of the authors (GF members)",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "publish": {
                                        "description": "To publish/unpublish the article",
                                        "type": "boolean"
                                    },
                                    "articles": {
                                        "description": "Array of article IDs that are related to this one",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "outfitters": {
                                        "description": "Array of outfitter IDs featured",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "outfitters_spotlight": {
                                        "description": "Set if the article is a paid spotlight (by the featured outfitter)",
                                        "type": "boolean"
                                    },
                                    "tags": {
                                        "description": "A list of hashtags for the article",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "with": {
                                        "description": "The extra fields you want in the returned JSON",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/articles/name={name}": {
            "get": {
                "tags": [
                    "Article"
                ],
                "summary": "Get a Single Article - Name",
                "description": "Get a single article by article name",
                "operationId": "App\\Controller\\Article\\ArticleController::getArticleAction",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "The article name to fetch",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/articles/{articleId}": {
            "get": {
                "tags": [
                    "Article"
                ],
                "summary": "Get a Single Article",
                "description": "Get a single article by articleID",
                "operationId": "App\\Controller\\Article\\ArticleController::getArticleAction",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "The article to fetch",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Article"
                ],
                "summary": "Update an Article",
                "description": "Update an article (must be authenticated)",
                "operationId": "App\\Controller\\Article\\ArticleController::updateArticleAction",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "The article to update",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "type": {
                                        "description": "The type of article (news=1, GF news=2, job=3, landing page=4, video=5, giveaway=6)",
                                        "type": "integer"
                                    },
                                    "name": {
                                        "description": "The article name (URL friendly)",
                                        "type": "string"
                                    },
                                    "title": {
                                        "description": "The article title",
                                        "type": "string"
                                    },
                                    "summary": {
                                        "description": "The article summary",
                                        "type": "string"
                                    },
                                    "page_title": {
                                        "description": "The article meta page title (max 100 char)",
                                        "type": "string"
                                    },
                                    "description": {
                                        "description": "The article meta description (max 250 char)",
                                        "type": "string"
                                    },
                                    "video_url": {
                                        "description": "The full URL to the video hosted on Vimeo",
                                        "type": "string"
                                    },
                                    "authors": {
                                        "description": "Array of profile IDs of the authors (GF members)",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "publish": {
                                        "description": "To publish/unpublish the article",
                                        "type": "boolean"
                                    },
                                    "articles": {
                                        "description": "Array of article IDs that are related to this one",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "outfitters": {
                                        "description": "Array of outfitter IDs featured",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    },
                                    "outfitters_spotlight": {
                                        "description": "Set if the article is a paid spotlight (by the featured outfitter)",
                                        "type": "boolean"
                                    },
                                    "tags": {
                                        "description": "A list of hashtags for the article",
                                        "type": "array",
                                        "items": {
                                            "type": "integer"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Updated article object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Article not found",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/article"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Article"
                ],
                "summary": "Remove an Article",
                "description": "Remove an Article",
                "operationId": "App\\Controller\\Article\\ArticleController::deleteArticleAction",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "The article to delete",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "description": "To hard-delete the article",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "Article removed"
                    }
                }
            }
        },
        "/associatons": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get Associations",
                "description": "Search through associations, advanced filters reserved for admins",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/jurisdiction"
                    },
                    {
                        "$ref": "#/components/parameters/profile-status"
                    },
                    {
                        "$ref": "#/components/parameters/deleted"
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of association objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons/name={name}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get a Single Association - Name",
                "description": "Get a single association and its profile by name",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationAction",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "description": "Name of the association to retreive",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Association object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons/profile={profileId}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get a Single Association - Profile",
                "description": "Get a single association and its profile by profileId",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationAction",
                "parameters": [
                    {
                        "name": "profileId",
                        "in": "path",
                        "description": "Profile ID of the Association to retrieve",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Association object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associatons/{associationId}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get a Single Association",
                "description": "Get a single association and its profile by associationId",
                "operationId": "App\\Controller\\Association\\AssociationController::getAssociationAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to retrieve",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Associaton object",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/associations": {
            "post": {
                "tags": [
                    "Association"
                ],
                "summary": "Create an Association",
                "description": "Create an association and its profile",
                "operationId": "App\\Controller\\Association\\AssociationController::createAssociationAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "description": "The Guidefitter profile name of the association",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "association_name": {
                                        "description": "The name of the association",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "description": {
                                        "description": "The association description",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "url": {
                                        "description": "The association website URL",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "email": {
                                        "description": "The association email address",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_outfitter": {
                                        "description": "The default association membership fee for an outfitter",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_guide": {
                                        "description": "The default association membership fee for a guide",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_sportsman": {
                                        "description": "The default association membership fee for a sportsman",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "fee_associate": {
                                        "description": "The default association membership fee for an associate",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "affidavit": {
                                        "description": "The name of the affidavit letter written by Bryan (admins only)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "jurisdiction": {
                                        "description": "The ID of the country/state the association operates in",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    },
                                    "with": {
                                        "description": "The extra fields you want in the returned JSON",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Association created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Missing data"
                    }
                }
            }
        },
        "/associations/{associationId}": {
            "post": {
                "tags": [
                    "Association"
                ],
                "summary": "Update an Association",
                "description": "Update an association (must be authenticated). Updates the association entity, the address, and the profile",
                "operationId": "App\\Controller\\Association\\AssociationController::updateAssociationAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to retrieve",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "association_name": {
                                        "description": "The name of the association",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "description": {
                                        "description": "The association description",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "url": {
                                        "description": "The association website URL",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "email": {
                                        "description": "The association email address",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_outfitter": {
                                        "description": "The default association membership fee for an outfitter",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_guide": {
                                        "description": "The default association membership fee for a guide",
                                        "type": "number",
                                        "format": "float",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_sportsman": {
                                        "description": "The default association membership fee for a sportsman",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "fee_associate": {
                                        "description": "The default association membership fee for an associate",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "affidavit": {
                                        "description": "The name of the affidavit letter written by Bryan (admins only)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "jurisdiction": {
                                        "description": "The ID of the country/state the association operates in",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "city": {
                                        "description": "Association headquarters address city (AddressJson)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "state": {
                                        "description": "Association headquarters address state (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "country": {
                                        "description": "Association headquarters address country (geoname ID)",
                                        "type": "integer",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "street1": {
                                        "description": "Association headquarters address line 1",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "street2": {
                                        "description": "Association headquarters address line 2",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "zip": {
                                        "description": "Association headquarters address ZIP code",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "name": {
                                        "description": "The Association Profile name (that'll be its Guidefitter URL)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "avatar": {
                                        "description": "The ID of the photo to use as profile avatar",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "cover": {
                                        "description": "The ID of the photo to use as profile cover",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "notifications": {
                                        "description": "The list of notifications IDs the association is subscribed to",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "active": {
                                        "description": "Enable/disable the profile (only admins)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    },
                                    "undelete": {
                                        "description": "Un-delete the association (only admins)",
                                        "type": "string",
                                        "example": "https://api.guidefitter.com/associations/5002"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Association updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    },
                    "204": {
                        "description": "Nothing to update"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Association"
                ],
                "summary": "Delete an Association",
                "description": "Delete an association and its profile",
                "operationId": "App\\Controller\\Association\\AssociationController::deleteAssociationAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to delete",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "hard",
                        "in": "query",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "description": "To hard-delete the association and all its related entities",
                            "type": "boolean",
                            "default": false
                        }
                    }
                ],
                "responses": {
                    "204": {
                        "description": "association deleted"
                    }
                }
            }
        },
        "/associatons/{associationId}/siblings": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get Similar Associations",
                "operationId": "App\\Controller\\Association\\AssociationController::getSimilarAssociationsAction",
                "parameters": [
                    {
                        "name": "associationId",
                        "in": "path",
                        "description": "Association ID of the Association to retrieve",
                        "required": true,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array ofAssociaton objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/association-memberships": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Get Association Memberships",
                "description": "Search association memberships. Admins can search all memberships, for association managers or anonymous 'association' or 'profile' filter is required",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::getAssociationMembershipsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/association"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of membership (1=outfitter, 2=guide, 3=sportsman, 4=associate)",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Array of associaton memberships objects",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association-membership"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Association"
                ],
                "summary": "Create an Association Membership",
                "description": "Create an Association Membership",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::createAssociationMembershipAction",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "association": {
                                        "description": "The ID of the association to add the member to",
                                        "type": "integer"
                                    },
                                    "number": {
                                        "description": "The registration number of the member",
                                        "type": "string"
                                    },
                                    "profile": {
                                        "description": "The profile ID of the member",
                                        "type": "integer"
                                    },
                                    "email": {
                                        "description": "The email of the member. We will try to find him in GF memberbase or else send him an invite",
                                        "type": "string"
                                    },
                                    "fee": {
                                        "description": "The $ cost of the membership for that year (to overide Association fee).",
                                        "type": "number",
                                        "format": "float"
                                    },
                                    "due_date": {
                                        "description": "ISO date when the member must pay his membership",
                                        "type": "string"
                                    },
                                    "paid_date": {
                                        "description": "Payment method of the membership",
                                        "type": "string"
                                    },
                                    "method": {
                                        "description": "ID of the outfitter registered to the membership",
                                        "type": "integer"
                                    },
                                    "outfitter": {
                                        "description": "The ID of the association to add the member to",
                                        "type": "integer"
                                    },
                                    "with": {
                                        "description": "The extra fields you want in the returned JSON",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Association membership created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/association-membership"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/association-memberships.{_format}": {
            "get": {
                "tags": [
                    "Association"
                ],
                "summary": "Export Association Memberships",
                "description": "Export association memberships. Admins can export all memberships, association managers can only export their association's memberships with the association parameter",
                "operationId": "App\\Controller\\Association\\AssociationMembershipController::exportAssociationMembershipsAction",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/q"
                    },
                    {
                        "$ref": "#/components/parameters/sort"
                    },
                    {
                        "$ref": "#/components/parameters/association"
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "description": "The type of membership (1=outfitter, 2=guide, 3=sportsman, 4=associate)",
                        "required": false,
                        "explode": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/with"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a CSV file"
                    }
[...]
