{
    "openapi": "3.0.0",
    "info": {
        "title": "Search API",
        "version": "1.0.0"
    },
    "servers": [
    {
      "url": "http://api.wildfitter.com"
    }
    ],
    "paths": {
        "/users/${user-email}": {
            "get": {
                "operationId": "App\\Controller\\TestController::index",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users": {
            "post": {
                "operationId": "App\\Controller\\TestController::insertUser",
                "requestBody": {
                    "description": "List of user object",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "items": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Ovo je opis"
                    }
                }
            }
        },
        "/users": {
            "get": {
                "summary": "Get All Users",
                "description": "Get All Users",
                "responses": {
                    "default": {
                        "description": "Welcome page"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "description": "This is just a user.",
                "type": "string"
            }
        }
    }
}