{
    "openapi": "3.0.0",
    "info": {
        "title": "Wildfitter",
        "description": "This is the new wildfitter api",
        "contact": {
            "email": "aleksa.gavrilovic@guidefitter.com"
        },
        "license": {
            "name": "Apache 2.0",
            "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
        },
        "version": "2.0.0"
    },
    "servers": [
        {
            "url": "https://aleksa-new-api.wildfitter.com",
            "description": "Wildfitter doc test server"
        }
    ],
    "paths": {
        "/users": {
            "get": {
                "summary": "Get Users",
                "operationId": "App\\Controller\\User\\UserController::getUsersAction",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "default": 0,
                            "minimum": 0
                        }
                    },
                    {
                        "$ref": "#/components/parameters/has-profile-photo"
                    },
                    {
                        "$ref": "#/components/parameters/has-claim"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "summary": "Create User",
                "requestBody": {
                    "description": "Pet object that needs to be added to the store",
                    "required": true,
                    "content": {
                        "application/xml": {
                            "schema": {
                                "$ref": "#/components/schemas/User"
                            }
                        },
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/User"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "User created"
                    }
                }
            }
        },
        "/users/name": {
            "get": {
                "summary": "Get Single User - Name",
                "parameters": [
                    {
                        "name": "name",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/users/email": {
            "get": {
                "summary": "Get Single User - Email",
                "parameters": [
                    {
                        "name": "email",
                        "in": "path",
                        "description": "The email to search by",
                        "required": true,
                        "schema": {
                            "type": "string",
                            "default": "name"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get",
                        "content": {
                            "application/octet-stream": {
                                "schema": {
                                    "type": "string",
                                    "format": "binary"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "description": "This is just a user.",
                "type": "string"
            }
        },
        "parameters": {
            "has-profile-photo": {
                "name": "has-profile-photo",
                "in": "query",
                "description": "Filter users who have a profile photo",
                "required": false,
                "schema": {
                    "type": "boolean",
                    "default": false
                }
            },
            "has-claim": {
                "name": "has-claim",
                "in": "query",
                "description": "Filter users who claimed a business profile",
                "required": false,
                "schema": {
                    "type": "boolean",
                    "default": false
                }
            },
            "insider-category": {
                "name": "insider-category",
                "in": "query",
                "description": "Filters users based on insider category (0=NONE, 1=PRO, 2=INDUSTRY, 3=MILITARY, 4=FIRST RESPONDER, 5=GOVERNMENT, 6=NGO)",
                "required": false,
                "schema": {
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                }
            }
        }
    }
}